<!DOCTYPE html>
<html>
<head>
    <title>Add Author</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h1>Add a New Author</h1>
<form method="POST" action="{{ url_for('add_author') }}">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="birth_date">Birth Date:</label><br>
    <input type="date" id="birth_date" name="birth_date"><br><br>

    <label for="date_of_death">Date of Death:</label><br>
    <input type="date" id="date_of_death" name="date_of_death"><br><br>

    <button type="submit">Add Author</button>
</form>
</body>
</html>

